* {
  box-sizing: border-box;
}

html,
body {
  background-color: whitesmoke;
}

/* Nav css top*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  position: relative;
  z-index: 1;
  background: url(./img/b-100.png) left top no-repeat;
}

.navbar-toggler {
  background-color: #fc5b62;
  border: 1px solid white;
}

.navbar-nav {
  padding: 0 8px 5px;
  font-size: 0.875rem;
  margin-top: 1rem;
  font-weight: 500;
  width: 100%;
  z-index: 1;
}

.nav-link {
  display: block;
  white-space: nowrap;
  color: #000;
  margin-top: 0;
}

.nav-link:hover {
  color: darkgrey;
}

ul li a {
  text-decoration: none;
  color: #b91c24;
  padding: 0 4px 4px;
}

.about-section-top {
  height: auto;
  min-height: 55px;
  background-color: #006a4e;
}

.title-about {
  color: #fff;
  font-weight: 300;
  margin-top: 16px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 17px;
}

.breadcrumbs li {
  color: #eee;
  line-height: 56px;
  margin-left: 5px;
  font-size: 0.8333em;
  font-weight: 700;
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumb-item:hover {
  background-color: tomato;
}

.title {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  opacity: 0.6;
}

.button-top {
  height: 20%;
  width: 20%;
  font-size: 1rem;
  padding-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.button-top:hover {
  color: #000;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #fdb714;
}

/* mani body &table Css*/

/*.main-body {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.biman-full {
  margin-left: 0;
  margin-right: 0;
  justify-content: end;
  padding: 0;
}

.biman-body img {
  width: 16px;
  text-align: center;
  font-size: bold;
}

.biman-body {
  padding: 1%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-left: 0;
}


.btn-success:hover {
  background-color: #eb0b16;
}

.seat-grid {
  border: 1px solid white;
  font-size: inherit;
  padding: 0;
}*/

.set {
  width: 15px;
}

.biman-set {
  padding: 0;
  margin-top: none;
}

.form-check {}

.form-check-input {
  display: none;
}

.form-check-label {
  width: 20px;
  height: 20px;
  text-align: center;
  color: #888;
}

input:checked+label {
  color: #ddd;
}

/*footer css */

.lastpart-ft {
  width: 100%;
  margin-right: auto;
  position: relative;
}

.lastpart-text {
  margin-left: 1rem;
  margin-right: 4rem;
}

footer {
  background-color: #006a4e;
  color: #ffff;
  font-size: 14px;
  padding: 2rem;
  font-family: sans-serif;
  margin: 0;
}

footer h5 {
  padding-left: 36px;
  margin-top: 20px;
}

footer ul li {
  list-style: none;
  text-decoration: none;
}

footer ul li a {
  color: #ffff;
  opacity: 0.7;
  text-decoration: none;
}

a:hover {
  color: #fc5b62;
  list-style: none;
  text-decoration: none;
}

.follow ul li {
  font-size: 15px;
  display: inline;
  margin-right: 10px;
}

.copyright ul li {
  margin: 0;
  padding: 8px;
  font-size: 12px;
  float: right;
  font-size: 0.8125rem;
  color: #fff;
  opacity: 0.7;
}

.imges-part {
  width: 90%;
  padding: 1rem;
  padding-bottom: 1rem;
}