* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro";
}
/*==================Navbar===================================*/
.free-call {
  color: #fff;
  background-color: #bf8c2c;
}
.number {
  font-weight: 600;
  font-size: 20px;
  font-size: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .navbar .navbar-expand-lg .navbar-dark {
    padding-left: 1.5rem;
  }
}
/*======================Banner part=======================================*/
.banner {
  background-color: #e8eeef;
}
.text-part {
  position: relative;
}
.number-part {
  position: absolute;
  margin-top: 133px;
  font-size: 25px;
  display: block;
  z-index: 1;
}
.number1 {
  width: 45px;
  height: 45px;
  background: #fff;
  padding-left: 15px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .text-part1 h2 {
    font-size: 35px;
    padding-left: 35px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-part1 p {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .number-part {
    position: absolute;
    margin-top: 133px;
    font-size: 15px;
    display: block;
    z-index: 1;
  }
  .number1 {
    width: 25px;
    height: 25px;
    background: #fff;
    padding-left: 10px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .text-part1 h2 {
    font-size: 35px;
    padding-left: 35px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-part1 p {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }

  .number-part {
    position: absolute;
    margin-top: 133px;
    font-size: 15px;
    display: block;
    z-index: 1;
  }
  .number1 {
    width: 25px;
    height: 25px;
    background: #fff;
    padding-left: 10px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .text-part1 h2 {
    font-size: 45px;
    padding-left: 40px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-part1 p {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
}
.btn-success {
  color: #fff;
  background-color: #bf8c2c;
  border-color: #bf8c2c;
}
.btn-success:hover {
  color: #110101f0;
  background-color: #fff;
  border-color: #fff;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 65vh;
  }
}

.banner-img {
  width: 100%;
  height: 60vh;
  padding: 0;
  margin: 0;
}
.img-thamnal {
  display: flex;
  justify-content: flex-end;
  margin-top: -100px;
  margin-right: -20px;
}
.img-them {
  padding: 5px;
  background-color: #e8eeef;
  opacity: 0.7;
}
/*===carosal===*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px;
}

#custCarousel .carousel-indicators > li {
  width: 100px;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

.carousel-item img {
  width: 80%;
}
/*=================Welcome section==============================================*/
.welcome {
  background-color: #f6f6f6;
}

.item {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -29px;
  margin-right: 60px;
}
@media screen and (max-width: 768px) {
  .item h4 {
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
  }
}
@media screen and (min-width: 769px) {
  .item h4 {
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
  }
}

.welcome-text p {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 425px) {
  .text-part h2 {
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
  }
  .text-part h4 {
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
  }
}
@media screen and (min-width: 768px) {
  .text-part h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-part h4 {
    font-size: 24px;
    font-family: "Libre Baskerville", serif;
  }
}
/*===========================Explore window========================================*/
.explore-card {
  background-color: #dff1f5;
}
.explore-card h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.explore-card p {
  font-family: "Source Sans Pro", sans-serif;
  color: #332a1a;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .text-window h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-window p {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .text-window h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
  }
  .text-window p {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }
}
@media screen and (min-width: 768px) {
  .explore-row {
    width: 500x;
    background-color: #dff1f5;
    border-radius: 20px;
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .explore-row {
    width: 500px;
    background-color: #dff1f5;
    border-radius: 20px;
    padding: 30px;
  }
}
@media screen and (max-width: 475px) {
  .explore-row {
    width: 300px;
    background-color: #dff1f5;
    border-radius: 20px;
    padding: 30px;
  }
}
.btn-primary {
  color: #000;
  background-color: #bf8c2c;
  border-color: #bf8c2c;
  border-radius: none;
}
.btn-primary:hover {
  color: #110101f0;
  background-color: #fff;
  border-color: #fff;
}
@media screen and (min-width: 992px) {
  .view {
    position: relative;
    margin-top: -25px;
    margin-left: 200px;
  }
}

/*=======================new Window========================================*/
.see-window {
  background-color: #bf8c2c;
}
@media screen and (max-width: 766px) {
  .see-window {
    background-color: #000;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .no-part {
    background-color: #000;
    position: relative;
    width: 80%;
    height: 300px;
    padding: 30px;
    margin-left: 220px;
    z-index: 1;
    margin-top: 30px;
  }
}
.no-part h3 {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
}
.no-part p {
  font-size: 16px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

iframe {
  width: 100%;
  height: 360px;
  margin: auto;
}
.vedio {
  height: 360px;
}
/*==========================Call Massage visiting=======================================*/
.contact-card {
  background-color: #fff;
  transition: 0.3s;
  border: none;
}
.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.24);
}
.contact-card h5 {
  font-size: 20px;
  color: #000;
  font-family: "Libre Baskerville", serif;
}

.contact-card p {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
.contact-last p {
  color: #bf8c2c;
}
.visit {
  color: #bf8c2c;
}
/*==================footer part===================================================*/
.footer-part {
  background-color: #000;
}
.copyright-part {
  color: rgb(165, 161, 161);
}
.app-icon {
  color: #bf8c2c;
  width: 45px;
  height: 45px;
  padding: 15px;
  background-color: rgba(78, 76, 76, 0.589);
}
.app-icon:hover {
  color: #fff;
}
