* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
/*=========================  start Header ===========================================*/
.navbar {
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.navbar-brand {
  padding-left: 10px;
}
.nav-link {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.main-header {
  background-color: transparent;
  position: relative;
}
.main-header .navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.main-header .navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #7fdf8f;
  box-shadow: 0px 2px 6px #949494;
}

/*=========================  End Header ===========================================*/

.card.card-one {
  position: relative;
}
.carousel-item {
  height: 100%;
  width: 100%;
  background: #3f0140;
  overflow: hidden;
}
.cr-img {
  object-fit: cover;
  opacity: 0.3;
}
.img-over {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

@media screen and (min-width: 992px) {
  .carousel-caption {
    padding-bottom: 50px;
    font-family: "Montserrat";
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption {
    padding-bottom: 0px;
    font-family: "Montserrat";
    font-size: 15px;
  }
  .text-img {
    font-size: 10px;
    padding: 0;
  }
  .cr-img {
    height: 32vh;
  }
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.card {
  border-radius: 15px;
}
.card-img,
.card-img-top {
  border-radius: 15px 15px 0 0;
}
.card-three {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 992px) {
  .card.card-one::before {
    content: " ";
    border: 1px solid #7fdfb7;
    position: absolute;
    height: 100%;
    left: -30px;
    width: 100%;
    top: 34px;
    z-index: -1;
    border-radius: 10px;
  }
  .card.card-three::before {
    content: " ";
    border: 1px solid #7fdfb7;
    position: absolute;
    height: 100%;
    right: -30px;
    width: 100%;
    top: 34px;
    z-index: -1;
    border-radius: 10px;
  }
}

.heder-text h1 {
  font-size: 55px;
  color: black;
  font-weight: 700;
  font-display: bold;
}
#text-banar {
  font-size: 20px;
}
.heder-text p {
  font-size: 16px;
  text-align: start;
  color: black;
  font-weight: 300;
  font-display: bold;
}
.card-text h1 {
  font-size: 40px;
  font-weight: 600;
  color: #2f2f2f;
}
.card-text p {
  font-size: 17px;
  color: black;
}
.find-part {
  margin: 2rem;
  margin-bottom: 2rem;
}
.part-two {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.midd-part {
  margin-bottom: 4rem;
}

.card-one {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.upper-card {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.upper-block {
  margin-top: -60px;
}

#bannar {
  /* background-color: #faf7a2;
  background-color: #c2f18b;*/
  background: linear-gradient(
    to right,
    rgba(250, 211, 144, 1),
    rgba(120, 224, 143, 1)
  );
  padding-top: 4rem;
}
.medication-part {
  padding-bottom: 2rem;
}
.medial-part {
  background-color: #3f0140;
  text-emphasis-color: with;
}

.heading {
  text-align: start;
  font-size: 36px;
  font-weight: bold;
  padding-top: 4rem;
  padding-left: 6rem;
}

.right-content {
  text-align: start;
  padding-left: 6rem;
}
.bolge-contant {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.icon-part {
  font-size: 15px;
  color: #93e07e;
}
.more {
  color: #93e07e;
  text-align: center;
  padding-top: 15px;
}
.more-two {
  font-size: 17px;
  font-display: bold;
  font-weight: 600;
}
footer {
  background-color: green;
}
.footer-part {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
}
.Copy-right {
  font-size: 12px;
}
.address {
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.address h4 {
  font-size: 25px;
  color: #000;
  font-weight: 300;
}
.address p {
  color: #000;
  font-size: 12px;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.07); */
  border-radius: 5px;
  margin-bottom: 30px;
  /* border: 5px solid rgba(0, 0, 0, 0.07); */
  /*-webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;*/
}
.item:hover {
  background: green;
  background-image: url(./Img/svg.png);
  background-position: center;
  background-repeat: no-repeat;
  /*box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.02); */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-out;
}
.item .item:hover::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: white;
}
/*.item:hover .item,
.item:hover span.icon {
  background: red;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}*/
.item:hover h5,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: -1;
}
.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #fff;
  widows: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature-box-col-one {
  background: green;
}
/*.item .feature-box-col-two {
  background: rgba(247, 77, 28, 0.15);
  color: #f91942;
}
.item .feature-box-col-three {
  background: rgba(0, 147, 38, 0.15);
  color: #f91942;
}
.item .feature-box-col-four {
  background: rgba(0, 108, 5, 0.15);
  color: #f91942;
}
.item .feature-box-col-five {
  background: rgba(146, 39, 2555, 0.15);
  color: #f91942;
}
.item .feature-box-col-six {
  background: rgba(23, 39, 146, 0.15);
  color: #f91942;
}*/
.item p {
  font-size: 15px;
  line-height: 26px;
}
.item h5 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
@media (min-width: 991px) {
  .upper-card {
    margin-top: -60px;
  }
  .head-section {
    padding-bottom: 50px;
  }
}
.navbar-collapse.show {
  background: #001a00;
  height: 100vh;
  width: 100vh;
}
